doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/spectrum.css')
    script(src="/javascripts/jquery-1.9.1.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/generic.js")
    script(src="/javascripts/socket.js")
    script(src="/javascripts/paper.js")
    script(src="/javascripts/spectrum.js")
  body
    block content