extends layout

block content
  ul(id="browser_list")
    li.first
      div 01-Homepage_R1_01.jpg 
      a(href='http://192.168.1.3:3000/images/01-Homepage_R1_01.jpg',target='_blank'): img(src="http://192.168.1.3:94/generate.php?data=http://192.168.1.3:3000/?path=images/01-Homepage_R1_01.jpg")
    li
      div 01-Homepage_R1_02.jpg 
      a(href='http://192.168.1.3:3000/images/01-Homepage_R1_02.jpg',target='_blank'): img(src="http://192.168.1.3:94/generate.php?data=http://192.168.1.3:3000/?path=images/01-Homepage_R1_02.jpg")
    li
      div 01-Homepage_R2_01.jpg 
      a(href='http://192.168.1.3:3000/images/01-Homepage_R2_01.jpg',target='_blank'): img(src="http://192.168.1.3:94/generate.php?data=http://192.168.1.3:3000/?path=images/01-Homepage_R2_01.jpg")
    li.last
      div 01-Homepage_R2_02.jpg 
      a(href='http://192.168.1.3:3000/images/01-Homepage_R2_02.jpg',target='_blank'): img(src="http://192.168.1.3:94/generate.php?data=http://192.168.1.3:3000/?path=images/01-Homepage_R2_02.jpg")